<button class="search-button align-icon" role="search" onclick="toggleSearch()" tabindex="0">
    <span class="search-icon">
        <i icon-name="search" ></i>
    </span>
    <span class="search-text">
        <span>Search</span>
        <span style="font-size: 0.6rem; padding: 2px 2px 0 6px; text-align:center;" class="search-keys">
            CTRL + K
        </span>
    </span>
</button>