<script>
  const names = ["Jack", "Jill", "Jake", "Jordan", "Jillian", "Juliette"];
  const random = Math.floor(Math.random() * names.length);

  document.querySelector("#randName").innerText = names[random];
</script>
