<script>
  const names = ["Jack", "Jill", "Jake", "Jordan", "Jillian", "Juliette"];
  const random = Math.floor(Math.random() * names.length);

  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector("#randName").textContent = names[random];
  });
</script>
